@import url(colors.css);
@import url(colors.module.css);

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    transition: .3s ease-in-out;
    overflow-x: hidden;
    overflow-y: auto;
}

html {
    transition: .3s ease-in-out;
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
}

#model {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.material-symbols-outlined {
    transition: .3s ease-in-out;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

#loadingScreen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: var(--md-sys-color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

progress {
    height: 20px;
    border-radius: 10px;
    accent-color: var(--md-sys-color-on-primary-container);
    background-color: var(--md-sys-color-primary-container);
    border: none;
    -webkit-appearance: auto;
    appearance: auto;
    margin-bottom: 12px;
    margin: 20px;
}

::-moz-progress-bar {
    background-color: var(--md-sys-color-primary-container);
    border-radius: 10px;
}

::-webkit-progress-bar {
    background-color: var(--md-sys-color-primary-container);
    border-radius: 1000px;
}

::-webkit-progress-value {
    transition: width 0.5s;
    background-color: var(--md-sys-color-on-primary-container);
    border-radius: 1000px;
}

#mainMenu {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main-title {
    /*font-family: 'Balsamiq Sans', cursive;*/
    font-family: 'Dela Gothic One', cursive;
    font-size: 80px;
    text-align: center;
    color: var(--md-sys-color-primary);
    text-shadow: var(--md-sys-color-primary-container) 1px 0 50px;
    -webkit-text-stroke: 2px var(--md-sys-color-on-primary);
}

.big-button {
    text-decoration: none;
    text-align: center;
    width: 300px;
    margin: 10px;
}

.big-button-title {
    color: var(--md-sys-color-on-tertiary-container);
    background-color: var(--md-sys-color-tertiary-container);
    font-size: 24px;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 24px 24px 0px 0px;
    transition: .3s ease-in-out;
}

.big-button-subtitle {
    font-size: 18px;
    color: var(--md-sys-color-tertiary);
    background-color: var(--md-sys-color-on-tertiary);
    border-radius: 0px 0px 24px 24px;
    border: 2px solid var(--md-sys-color-tertiary-container);
    padding: 10px 20px;
    transition: .3s ease-in-out;
}

font-face {
    font-family: 'Circular Std Black';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Black') url('fonts/CircularStd-Black.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Book';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Book'), url('fonts/CircularStd-Book.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Medium'), url('fonts/CircularStd-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Black Italic'), url('fonts/CircularStd-BlackItalic.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Bold'), url('fonts/CircularStd-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Bold Italic'), url('fonts/CircularStd-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Book Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Book Italic'), url('fonts/CircularStd-BookItalic.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Medium Italic'), url('fonts/CircularStd-MediumItalic.woff') format('woff');
}

html {
    font-family: 'Inter', sans-serif;
}

button:hover,
a:hover {
    filter: var(--current-hover);
}

.begin-button {
    transition: .3s ease-in-out;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--md-sys-color-on-tertiary-container);
    background-color: var(--md-sys-color-tertiary-container);
    text-decoration: none;
    padding: 20px 30px;
    margin-top: 10px;
    border-radius: 500px;
    font-size: 24px;
    border: 0px;
}

.begin-button:hover {
    filter: var(--current-hover);
}

#beginButtonSubtitle,
#continueGameButton {
    display: none;
}

.setup-text {
    font-size: 20px;
    font-weight: 600;
}

.upperbar {
    transition: .3s ease-in-out;
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    height: auto;
    width: 100%;
    position: relative;
    z-index: 4;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 8px 0;
    white-space: nowrap;
}

.table-wrapper {
    top: 0 !important;
}

.alt-toolbar {
    position: fixed !important;
    bottom: 0;
}

.alt-table {
    top: 0 !important;
    margin-bottom: 180px !important;
}

.alt-dust-counter {
    width: 100%;
    position: sticky;
    bottom: 68px;
}

.upperbar-title {
    font-size: 26px;
    font-weight: bold;
}

.content {
    transition: .3s ease-in-out;
    text-align: center;
    position: relative;
    top: 12px;
    padding-bottom: 100px;
    z-index: 1;
    /* text-align: center; */
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
    margin-bottom: 100px;
}

.invertible {
    filter: var(--current-lightInvertFilter);
}

#mainMenuLanguageButton {
    display: flex !important;
    flex-direction: row;
    align-items: center;
}

.language-label {
    transition: width .3s ease-in-out;
    font-size: 20px;
    padding: 0px 10px;
    line-height: 32px;
}

.small-button {
    transition: .3s ease-in-out;
    color: var(--md-sys-color-secondary);
    background-color: var(--md-sys-color-on-secondary);
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    padding: 4px;
    border-radius: 500px;
    border: 0px;
    margin: 3px;
}

#mainMenuButtons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 95%;
    height: 100%;
    margin: 10px;
    align-items: end;
}


.main-menu-small-button {
    transition: .3s ease-in-out;
    background-color: var(--md-sys-color-tertiary-container);
    color: var(--md-sys-color-on-tertiary-container);
    padding: 8px;
    margin: 4px;
    text-decoration: none;
    border: 0px;
    text-align: center;
    font-size: 24px;
    border-radius: 500px;
}

.main-menu-small-button>.material-symbols-outlined,
.main-menu-small-button>.material-icons-outlined {
    padding: 4px;
    border: 0px;
    margin: 3px;
}

.items-expanded-div {
    width: fit-content;
    margin: 8px auto;
}

.items-expanded-div ul {
    padding: 0;
}

.board-button {
    font-size: 20px;
    padding: 8px 16px;
    margin: 4px;
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}

.alt-button {
    font-size: 22px;
    padding: 8px 16px;
    margin: 4px;
    background-color: var(--md-sys-color-tertiary-container);
    color: var(--md-sys-color-on-tertiary-container);
}

.small-button>span {
    vertical-align: middle;
}

.small-button .material-symbols-outlined,
.small-button .material-icons-outlined {
    background-color: transparent;
    padding: 4px;
    border: 0px;
    margin: 3px;
}

button {
    font-family: inherit;
    font-size: 1em;
}

.setup {
    display: none;
}

.main-game {
    height: 100%;
    display: none;
}

.setup-image {
    transition: .3s ease-in-out;
    width: 90%;
    max-width: 600px;
    height: auto;
    filter: var(--current-lightInvertFilter);
}

.advanced-settings-title {
    font-size: 18px;
    font-weight: bold;
}

.advanced-settings-table-checkbox {
    vertical-align: bottom;
    text-align: right;
}

.advanced-settings-table-entry {
    text-align: left;
    padding-left: 10px;
}

.advanced-settings-table-image {
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 120px;
    height: auto;
    padding: 10px;
}

.advanced-settings-table-image>.material-icons-outlined {
    font-size: 36px;
}

.setup-tooltip {
    font-size: 18px;
}

.setup-tooltip-modal-link {
    transition: .3s ease-in-out;
    font-size: 18px;
    color: var(--md-sys-color-tertiary);
    text-decoration: underline var(--md-sys-color-tertiary-container);
    white-space: nowrap;
}

.setup-name {
    background-color: var(--md-sys-color-secondary-container);
    border-radius: 100px;
    border: 1px solid var(--md-sys-color-on-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
    font-size: 18px;
    padding: 10px 15px 10px 15px;
    margin: 5px;
}

.modal-wrapper {
    transition: .3s ease-in-out;
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: color-mix(in srgb, var(--md-sys-color-background) 80%, transparent);
    color: var(--md-sys-color-on-background);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.modal a {
    transition: .3s ease-in-out;
    color: var(--md-sys-color-on-background);
    text-decoration: none;
}

.modal a:hover {
    filter: invert(30%);
}

#modalBackWrapper {
    position: sticky;
    top: 0;
    margin-left: auto;
}

.modal {
    transition: .3s ease-in-out;
    margin: auto;
    padding: 20px;
    border: 1px solid var(--md-sys-color-on-surface);
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.full-screen-modal {
    padding-top: 20px;
    width: 100%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.order-input {
    width: 80%;
    max-width: 200px;
}

.autocomplete-status-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.language-link {
    transition: .3s ease-in-out;
    background-color: var(--md-sys-color-tertiary-container);
    color: var(--md-sys-color-on-tertiary-container) !important;
    padding: 10px 80px;
    border-radius: 5000px;
    margin: 10px;
    font-size: 20px;
}

.hidden {
    display: none;
}

.file-input {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.custom-board-body th,
.custom-board-body td {
    transition: .3s ease-in-out;
}

.reset {
    transition: .3s ease-in-out;
    filter: invert(38%) sepia(19%) saturate(761%) hue-rotate(159deg) brightness(89%) contrast(96%) !important;
}

.dark .reset {
    transition: .3s ease-in-out;
    filter: invert(91%) sepia(98%) saturate(6790%) hue-rotate(172deg) brightness(93%) contrast(89%) !important;
}

.check {
    filter: invert(47%) sepia(10%) saturate(3119%) hue-rotate(84deg) brightness(114%) contrast(74%) !important;
}

.maybe {
    filter: invert(68%) sepia(19%) saturate(541%) hue-rotate(84deg) brightness(88%) contrast(89%) !important;
}

.cross {
    filter: invert(47%) sepia(54%) saturate(682%) hue-rotate(318deg) brightness(87%) contrast(94%) !important;
}

.dark .locked .cross {
    transition: .3s ease-in-out;
    filter: invert(78%) sepia(6%) saturate(2397%) hue-rotate(316deg) brightness(97%) contrast(109%) !important;
}

.locked .cross {
    transition: .3s ease-in-out;
    filter: invert(13%) sepia(83%) saturate(3572%) hue-rotate(352deg) brightness(107%) contrast(93%) !important;
}

.maybeNot {
    filter: invert(73%) sepia(7%) saturate(2139%) hue-rotate(317deg) brightness(97%) contrast(73%) !important;
}

.star {
    filter: invert(88%) sepia(58%) saturate(1146%) hue-rotate(322deg) brightness(104%) contrast(87%) !important;
}

.question {
    filter: invert(58%) sepia(64%) saturate(430%) hue-rotate(163deg) brightness(87%) contrast(99%) !important;
}

.exclamation {
    filter: invert(66%) sepia(20%) saturate(1480%) hue-rotate(282deg) brightness(91%) contrast(85%) !important;
}

.flag {
    filter: invert(82%) sepia(31%) saturate(5798%) hue-rotate(328deg) brightness(100%) contrast(93%) !important;
}

.skip {
    --dark-filter: invert(22%) sepia(41%) saturate(3708%) hue-rotate(234deg) brightness(87%) contrast(99%);
    --light-filter: invert(27%) sepia(80%) saturate(2699%) hue-rotate(247deg) brightness(101%) contrast(92%);
    filter: invert(27%) sepia(80%) saturate(2699%) hue-rotate(247deg) brightness(101%) contrast(92%) !important;
}

.selection-modal-image {
    width: 110px;
}

.selection-modal-image img {
    height: 60px;
}

#selectionModalContent section {
    display: flex;
    align-items: center;
    text-align: center;
}

.selection-modal-section {
    display: block;
}

.selection-modal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-with-tooltip {
    flex-direction: column;
}

.dust-counter-box {
    transition: .3s ease-in-out;
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 68px;
    padding: 10px;
    text-align: center;
    display: none;
    z-index: 2;
    overflow-x: auto;
    overflow-y: hidden;
    height: auto;
}

.counterbutton {
    transition: .3s ease-in-out;
    color: var(--md-sys-color-on-secondary);
    background-color: var(--md-sys-color-secondary);
    text-decoration: none;
    text-align: center;
    padding: 8px;
    border-radius: 500px;
    font: 'Circular Std Book';
    height: 40px;
    width: 40px;
    border: 0px;
}

.dust-counter-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    width: 150px;
    color: var(--md-sys-color-on-secondary-container);
}

.custom-table-num,
.custom-table-del {
    width: 15%;
}

.custom-table-input {
    width: 70%
}

.custom-table-header {
    border-top: 2px solid var(--md-sys-color-on-background);
    padding-top: 10px;
}

.custom-table-add {
    padding-bottom: 10px;
}

.custom-board-body td {
    padding: 4px;
}

.custom-board-body {
    border-bottom: 2px solid var(--md-sys-color-on-surface-variant);
}

.custom-board-name-row td {
    padding-top: 8px;
}

.custom-board-button-cell button {
    margin-left: 10px;
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.sideways {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    padding: 10px;
}

#tableRowPlayers>*,
.player-header {
    vertical-align: bottom;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-table-row>* {
    transition: .3s ease-in-out;
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}

.table-header {
    padding: 10px;
}

@media screen and (orientation: portrait) {
    .advanced-settings-table-image {
        display: none;
    }
}


@media screen and (max-width: 1080px) {

    img {
        height: 30px;
        width: 30px;
        padding-left: 5px;
        padding-right: 5px;
    }

    input[type=range].range {
        width: 95%;
    }

    input[type=range].range::-webkit-slider-runnable-track {
        width: 95%;
    }

    input[type=range].range::-moz-range-track {
        width: 95%;
    }

    input[type=range].range::-ms-track {
        width: 95%;
    }

    .main-title {
        font-size: 50px;
    }
}

@media screen and (max-width: 450px) {
    #changeLanguageText {
        display: none;
    }

    #darkModeToggle {
        display: none;
    }

    .dark-mode-section {
        display: table-row;
    }

}

@media screen and (min-width: 450px) {
    #darkModeToggle {
        display: block;
    }

    .dark-mode-section {
        display: none;
    }
}

@media screen and (min-width: 1080px) {
    img {
        height: 40px;
        width: 40px;
        padding-left: 5px;
        padding-right: 5px;
    }

    input[type=range].range {
        width: 60%;
    }

    input[type=range].range::-webkit-slider-runnable-track {
        width: 60%;
    }

    input[type=range].range::-moz-range-track {
        width: 60%;
    }

    input[type=range].range::-ms-track {
        width: 60%;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    display: none;
}

input[type="range"] {
    transition: .3s ease-in-out;
    accent-color: var(--md-sys-color-on-secondary-container);
    max-width: 600px;
}

.locked {
    transition: .3s ease-in-out;
    background-color: var(--md-sys-error-container);
    color: var(--md-sys-on-error-container);
}

button,
a {
    -webkit-user-select: none;
    user-select: none;
}

/* INPUT CHECKBOX */

.checkbox-wrapper-32 {
    vertical-align: middle;
}

.checkbox-wrapper-31:hover .checked {
    stroke-dashoffset: 0;
}

.checkbox-wrapper-31 {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.checkbox-wrapper-31 .background {
    fill: var(--md-sys-color-surface-variant);
    transition: ease all 0.6s;
}

.checkbox-wrapper-31 .stroke {
    fill: none;
    stroke: var(--md-sys-color-on-background);
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    -webkit-transition: ease all 0.6s;
    transition: ease all 0.6s;
}

.checkbox-wrapper-31 .checked {
    fill: none;
    stroke: var(--md-sys-color-on-background);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke-dashoffset: 22;
    stroke-dasharray: 22;
    -webkit-transition: ease all 0.6s;
    transition: ease all 0.6s;
}

.locked .checked,
.locked .stroke {
    stroke: var(--md-sys-color-on-error-container) !important;
}

.checkbox-wrapper-31 input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    -appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.checkbox-wrapper-31 input[type=checkbox]:hover {
    cursor: pointer;
}

.checkbox-wrapper-31 input[type=checkbox]:checked+svg .background {
    fill: var(--md-sys-color-primary);
}

.checkbox-wrapper-32 input[type=checkbox]:checked+svg .background {
    fill: transparent !important;
}

.checkbox-wrapper-31 input[type=checkbox]:checked+svg .stroke {
    stroke-dashoffset: 0;
    stroke: var(--md-sys-color-on-primary);
}

.checkbox-wrapper-31 input[type=checkbox]:checked+svg .checked {
    stroke-dashoffset: 0;
    stroke: var(--md-sys-color-on-primary);
}

.modal-section {
    margin: 10px;
}

.save-image {
    width: 60px;
    height: 60px;
}

#instructionsModalImage1,
#instructionsModalImage2B,
#instructionsModalImage4 {
    border: 6px solid var(--md-sys-color-on-background);
    padding: 5px;
    border-radius: 12px;
    vertical-align: middle;
    font-size: 40px;
}

.fake-table {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    -webkit-transition: .3s;
    transition: .3s;
}

.fake-table th {
    vertical-align: middle;
}

.fake-table td {
    padding: 5px;
}

.fake-table .checkbox-wrapper-31 {
    height: 40px !important;
    width: 40px !important;
}

.fake-button {
    transition: .3s ease-in-out;
    color: var(--md-sys-color-on-background);
    text-decoration: none;
    text-align: center;
    height: 60px;
    width: 60px;
    border-radius: 500px;
    border: 0px;
}

.hide-dust-counter-cell {
    text-align: center;
}

.hide-dust-counter-cell>button {
    height: 50px;
    width: 50px;
}

#tableRowPlayers {
    position: sticky;
    top: 0;
    z-index: 10;
}

.in-game-upperbar {
    justify-content: center !important;
}

.in-game-upperbar>.small-button {
    margin-right: 8px !important;
    margin-left: 8px !important;
}

#setupContent {
    padding: 0px 20px;
}

.dust-counter-button {
    height: 46px;
    width: 46px;
    vertical-align: top;
}

.material-symbols-outlined,
.material-icons-outlined {
    vertical-align: bottom;
}

.select {
    font-size: 18px;
    padding: 10px;
    width: 250px;
    max-width: 80%;
    margin-bottom: 20px;
}

.modal-header {
    font-size: 24px;
    margin: 20px 5px;
    vertical-align: middle;
}

.cell-image-link {
    position: relative;
}

.cell-image-link {
    display: grid;
    justify-items: center;
    align-items: center;
}

.cell-image-link>* {
    grid-column-start: 1;
    grid-row-start: 1;
}

.cell-number {
    text-shadow: 1px 1px 0 var(--md-sys-color-surface),
        -1px 1px 0 var(--md-sys-color-surface),
        -1px -1px 0 var(--md-sys-color-surface),
        1px -1px 0 var(--md-sys-color-surface);
    ;
    transform: translate(10px, 10px);
}

.advanced-settings-disabled tr {
    display: none;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url(../assets/icons/cross.svg) no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
    opacity: .3;
    pointer-events: all;
}

input[type="search"].dark::-webkit-search-cancel-button {
    filter: invert(1);
}

.action-container {
    margin: 12px auto;
    padding: 12px;
    text-align: left;
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    transition: .3s ease-in-out;
    max-width: 800px;
}

.action-title-icon {
    font-size: 18px !important;
    margin-right: 8px;
}

.action-title {
    margin-bottom: 8px;
}

.action-subtitle img {
    height: 28px;
}

.undone {
    filter: brightness(0.5);
}

.action-hovering-undo {
    background-color: var(--md-sys-color-tertiary-container);
    color: var(--md-sys-color-on-tertiary-container);
}

.action-hovering-undo button {
    background-color: var(--md-sys-color-tertiary);
    color: var(--md-sys-color-on-tertiary);
}

.action-hovering-redo {
    filter: brightness(1);
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}

#actionHistorySection {
    margin-bottom: 40px;
}

#actionConfirmSection {
    position: sticky;
    width: 100%;
    bottom: 40px;
}

#showLessSymbolsWrapper {
    padding-top: 40px;
}

.expand {
    padding: 0px 10px;
}

#showLessSymbolsCheckbox {
    appearance: none;
}

.setup-index {
    font-size: 28px;
    height: 58px;
    width: 58px;
    line-height: 58px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    display: inline-block;
    margin: 12px;
    text-align: center;
}

.setup-section {
    padding: 12px 0;
    max-width: 800px;
    margin: auto;
}

.setup-header {
    text-align: start;
    padding: 0 20%;
}

@media screen and (orientation: portrait) {
    .setup-header {
        padding: 0;
    }
}

#playerNameContainer {
    margin-top: 10px;
}

.text-primary {
    color: var(--md-sys-color-primary);
    text-transform: uppercase;
    font-size: 14px;
}