:root {
    --dark-blue: #274161;
    --white: white;
    --light-blue: #2CB6E3;
    --red: #ff9185;
    --dark-red: #6b2a22;
    --black: black;
    --green: #36a655;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    transition: .3s ease-in-out;
}

html {
    transition: .3s ease-in-out;
    background-color: var(--white);
    --dark-background-color: var(--black);
    --light-background-color: var(--white);
    color: var(--black);
    --dark-color: var(--white);
    --light-color: var(--black);
}

#model {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.material-symbols-outlined {
    transition: .3s ease-in-out;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

#loadingScreen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

progress {
    height: 20px;
    border-radius: 10px;
    accent-color: var(--light-blue);
    background-color: var(--dark-blue);
    border: none;
    appearance: auto;
    -webkit-appearance: none;
}

::-moz-progress-bar {
    background-color: var(--light-blue);
    border-radius: 10px;
}

::-webkit-progress-bar {
    background-color: var(--dark-blue);
    border-radius: 1000px;
}

::-webkit-progress-value {
    transition: width 0.5s;
    background-color: var(--light-blue);
    border-radius: 1000px;
}

#mainMenu {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main-title {
    /*font-family: 'Balsamiq Sans', cursive;*/
    font-family: 'Dela Gothic One', cursive;
    font-size: 80px;
    text-align: center;
    color: var(--dark-blue);
    text-shadow: var(--white) 1px 0 50px;
    -webkit-text-stroke: 2px var(--white);
}

.big-button {
    color: var(--white);
    background-color: var(--dark-blue);
    text-decoration: none;
    text-align: center;
    padding: 20px;
    border-radius: 500px;
    width: 300px;
    margin: 10px;
    border: 2px solid white;
}

.big-button-title {
    font-size: 24px;
}

.big-button-subtitle {
    font-size: 18px;
}

font-face {
    font-family: 'Circular Std Black';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Black') url('fonts/CircularStd-Black.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Book';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Book'), url('fonts/CircularStd-Book.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Medium'), url('fonts/CircularStd-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Black Italic'), url('fonts/CircularStd-BlackItalic.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Bold'), url('fonts/CircularStd-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Bold Italic'), url('fonts/CircularStd-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Book Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Book Italic'), url('fonts/CircularStd-BookItalic.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Medium Italic'), url('fonts/CircularStd-MediumItalic.woff') format('woff');
}

html {
    font-family: 'Rubik', sans-serif;
}

.confirmation-button {
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-color: var(--light-blue);
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 500px;
    z-index: 10;
    font-size: 24px;
    margin-bottom: 10px;
    border: 0px;
}

button:hover,
a:hover {
    filter: brightness(0.85);
}

.begin-button {
    transition: .3s ease-in-out;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-color: var(--red);
    --dark-background-color: var(--dark-red);
    --light-background-color: var(--red);
    text-decoration: none;
    padding: 20px 30px;
    margin-top: 10px;
    border-radius: 500px;
    font-size: 24px;
    border: 0px;
}

.begin-button:hover {
    filter: brightness(85%);
}

#beginButtonSubtitle,
#continueGameButton {
    display: none;
}

.setup-text {
    font-size: 20px;
    font-weight: 600;
}

.upperbar {
    transition: .3s ease-in-out;
    background-color: var(--light-blue);
    --light-background-color: var(--light-blue);
    --dark-background-color: var(--dark-blue);
    color: var(--white);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 4;
}

.upperbar-title {
    font-size: 26px;
    font-weight: bold;
}

.content {
    transition: .3s ease-in-out;
    position: relative;
    top: 75px;
    padding-bottom: 100px;
    z-index: 1;
    text-align: center;
    background-color: var(--white);
    --dark-background-color: var(--black);
    --light-background-color: var(--white);
    color: var(--black);
    --dark-color: var(--white);
    --light-color: var(--black);
}

#mainGameTableWrapper {
    top: 58px !important;
}

.invertible {
    filter: invert(0);
    --dark-filter: invert(1);
    --light-filter: invert(0);
}

#mainMenuLanguageButton {
    display: flex !important;
    flex-direction: row;
    align-items: center;
}

.language-label {
    transition: width .3s ease-in-out;
    font-size: 20px;
    padding: 0px 10px;
    line-height: 32px;
}

.small-button {
    transition: .3s ease-in-out;
    color: var(--white);
    background-color: var(--dark-blue);
    --dark-background-color: var(--light-blue);
    --light-background-color: var(--dark-blue);
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    padding: 4px;
    border-radius: 500px;
    border: 0px;
    margin: 3px;
}

#mainMenuButtons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 95%;
    height: 100%;
    margin: 10px;
    align-items: end;
}

.instructions-image {
    height: 50px;
    width: 50px;
    margin-top: 20px;
}

.main-menu-small-button {
    transition: .3s ease-in-out;
    background-color: var(--light-blue);
    --dark-background-color: var(--dark-blue);
    --light-background-color: var(--light-blue);
    color: var(--white);
    padding: 8px;
    margin: 4px;
    text-decoration: none;
    border: 0px;
    text-align: center;
    font-size: 24px;
    border-radius: 500px;
}

.main-menu-small-button>.material-symbols-outlined {
    padding: 4px;
    border: 0px;
    margin: 3px;
}

.board-button {
    font-size: 20px;
    padding: 8px;
    margin: 4px;
}

.small-button .material-symbols-outlined {
    background-color: transparent;
    padding: 4px;
    border: 0px;
    margin: 3px;
}

button {
    font-family: inherit;
    font-size: 1em;
}

.setup {
    display: none;
}

.main-game {
    display: none;
}

.setup-image {
    transition: .3s ease-in-out;
    width: 90%;
    max-width: 600px;
    height: auto;
    filter: invert(0);
    --dark-filter: invert(1);
    --light-filter: invert(0);
}

.setup-tooltip {
    font-size: 18px;
}

.setup-tooltip-modal-link {
    transition: .3s ease-in-out;
    font-size: 18px;
    color: var(--dark-blue);
    --light-color: var(--dark-blue);
    --dark-color: var(--light-blue);
    text-decoration: underline var(--light-blue);
    --dark-text-decoration: underline var(--dark-blue);
    --light-text-decoration: underline var(--light-blue);
}

.setup-name {
    background-color: var(--white);
    border-radius: 100px;
    border: 1px solid var(--dark-blue);
    font-size: 18px;
    padding: 10px 15px 10px 15px;
    margin: 5px;
}

.modal-wrapper {
    transition: .3s ease-in-out;
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.86);
    --dark-background-color: rgba(0, 0, 0, 0.86);
    --light-background-color: rgba(255, 255, 255, 0.86);
    color: var(--black);
    --dark-color: var(--white);
    --light-color: var(--black);
}

.modal a {
    transition: .3s ease-in-out;
    color: var(--black);
    --light-color: var(--black);
    --dark-color: var(--white);
    text-decoration: none;
}

.modal a:hover {
    filter: invert(30%);
}

#modalBackWrapper {
    margin-left: auto;
}

.modal {
    transition: .3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.86);
    --dark-background-color: rgba(0, 0, 0, 0.86);
    --light-background-color: rgba(255, 255, 255, 0.86);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.order-input {
    width: 80%;
    max-width: 200px;
}

.autocomplete-status-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.language-link {
    transition: .3s ease-in-out;
    --dark-background-color: var(--dark-blue);
    --light-background-color: var(--light-blue);
    background-color: var(--light-blue);
    color: var(--white) !important;
    padding: 10px 80px;
    border-radius: 5000px;
    margin: 10px;
    font-size: 20px;
}

.reset {
    transition: .3s ease-in-out;
    --light-filter: invert(22%) sepia(94%) saturate(291%) hue-rotate(171deg) brightness(89%) contrast(96%);
    --dark-filter: invert(60%) sepia(94%) saturate(1032%) hue-rotate(159deg) brightness(94%) contrast(88%);
    filter: invert(22%) sepia(94%) saturate(291%) hue-rotate(171deg) brightness(89%) contrast(96%);
}

.check {
    filter: invert(47%) sepia(10%) saturate(3119%) hue-rotate(84deg) brightness(114%) contrast(74%) !important;
}

.maybe {
    filter: invert(68%) sepia(19%) saturate(541%) hue-rotate(84deg) brightness(88%) contrast(89%) !important;
}

.cross {
    filter: invert(47%) sepia(54%) saturate(682%) hue-rotate(318deg) brightness(87%) contrast(94%) !important;
}

.maybeNot {
    filter: invert(73%) sepia(7%) saturate(2139%) hue-rotate(317deg) brightness(97%) contrast(73%) !important;
}

.star {
    filter: invert(88%) sepia(58%) saturate(1146%) hue-rotate(322deg) brightness(104%) contrast(87%) !important;
}

.question {
    filter: invert(58%) sepia(64%) saturate(430%) hue-rotate(163deg) brightness(87%) contrast(99%) !important;
}

.exclamation {
    filter: invert(66%) sepia(20%) saturate(1480%) hue-rotate(282deg) brightness(91%) contrast(85%) !important;
}

.flag {
    filter: invert(82%) sepia(31%) saturate(5798%) hue-rotate(328deg) brightness(100%) contrast(93%) !important;
}

.skip {
    --dark-filter: invert(22%) sepia(41%) saturate(3708%) hue-rotate(234deg) brightness(87%) contrast(99%);
    --light-filter: invert(27%) sepia(80%) saturate(2699%) hue-rotate(247deg) brightness(101%) contrast(92%);
    filter: invert(27%) sepia(80%) saturate(2699%) hue-rotate(247deg) brightness(101%) contrast(92%) !important;
}

.selection-modal-image {
    width: 110px;
}

.selection-modal-image img {
    height: 60px;
}

#selectionModalContent section {
    display: flex;
    align-items: center;
    text-align: center;
}

.selection-modal-section {
    display: block;
}

.selection-modal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-with-tooltip {
    flex-direction: column;
}

.dust-counter-box {
    transition: .3s ease-in-out;
    background-color: var(--dark-blue);
    --light-background-color: var(--dark-blue);
    --dark-background-color: var(--light-blue);
    color: var(--white);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 60px;
    padding: 10px;
    z-index: 1;
    text-align: center;
    display: none;
}

.counterbutton {
    transition: .3s ease-in-out;
    color: white;
    background-color: var(--light-blue);
    --dark-background-color: var(--dark-blue);
    --light-background-color: var(--light-blue);
    text-decoration: none;
    text-align: center;
    padding: 8px;
    border-radius: 500px;
    font: 'Circular Std Book';
    height: 40px;
    width: 40px;
    border: 0px;
}

.dust-counter-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    width: 150px;
    color: var(--white);
}

table {
    width: 100%;
    border-collapse: collapse;
}

.sideways {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    padding: 10px;
}

.advanced-settings-table-entry {
    text-align: left;
    padding: 10px;
}

.advanced-settings-table-image {
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 120px;
    height: 120px;
}

#tableRowPlayers>*,
.player-header {
    vertical-align: bottom;
    padding-top: 20px;
    padding-bottom: 0;
}

.main-table-row>* {
    transition: .3s ease-in-out;
    background-color: rgb(230, 230, 230);
    --dark-background-color: rgb(25, 25, 25);
    --light-background-color: rgb(230, 230, 230);
}

.table-header {
    padding: 10px;
}


@media screen and (max-width: 1080px) {

    img {
        height: 30px;
        width: 30px;
        padding-left: 5px;
        padding-right: 5px;
    }

    input[type=range].range {
        width: 95%;
    }

    input[type=range].range::-webkit-slider-runnable-track {
        width: 95%;
    }

    input[type=range].range::-moz-range-track {
        width: 95%;
    }

    input[type=range].range::-ms-track {
        width: 95%;
    }

    .main-title {
        font-size: 50px;
    }
}

@media screen and (min-width: 1080px) {
    img {
        height: 40px;
        width: 40px;
        padding-left: 5px;
        padding-right: 5px;
    }

    input[type=range].range {
        width: 60%;
    }

    input[type=range].range::-webkit-slider-runnable-track {
        width: 60%;
    }

    input[type=range].range::-moz-range-track {
        width: 60%;
    }

    input[type=range].range::-ms-track {
        width: 60%;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--red) !important;
    -webkit-transition: .3s;
    transition: .3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 5px;
    bottom: 2px;
    background-color: var(--white);
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked+.slider {
    background-color: var(--green) !important;
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--dark-blue);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

input[type="range"] {
    transition: .3s ease-in-out;
    accent-color: var(--dark-blue);
    --light-accent-color: var(--dark-blue);
    --dark-accent-color: var(--light-blue);
}

.locked {
    transition: .3s ease-in-out;
    background-color: var(--red);
    --dark-background-color: var(--dark-red);
    --light-background-color: var(--red);
}

button,
a {
    user-select: none;
}