:root {
    --dark-blue: #274161;
    --white: white;
    --light-blue: #2CB6E3;
    --red: #ff9185;
    --black: black;
}

html,
body {
    margin: 0;
    padding: 0;
}

#model {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#mainMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main-title {
    /*font-family: 'Balsamiq Sans', cursive;*/
    font-family: 'Dela Gothic One', cursive;
    font-size: 80px;
    text-align: center;
    color: var(--dark-blue);
}

.big-button {
    color: var(--white);
    background-color: var(--dark-blue);
    text-decoration: none;
    text-align: center;
    padding: 20px;
    border-radius: 500px;
    width: 300px;
    margin: 10px;
}

.big-button-title {
    font-size: 24px;
}

.big-button-subtitle {
    font-size: 18px;
}

font-face {
    font-family: 'Circular Std Black';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Black') url('fonts/CircularStd-Black.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Book';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Book'), url('fonts/CircularStd-Book.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Medium'), url('fonts/CircularStd-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Black Italic'), url('fonts/CircularStd-BlackItalic.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Bold'), url('fonts/CircularStd-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Bold Italic'), url('fonts/CircularStd-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Book Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Book Italic'), url('fonts/CircularStd-BookItalic.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Medium Italic'), url('fonts/CircularStd-MediumItalic.woff') format('woff');
}

html {
    font-family: 'Rubik', sans-serif;
}

.confirmation-button {
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-color: var(--light-blue);
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 500px;
    z-index: 10;
    font-size: 24px;
    margin-bottom: 10px;
    border: 0px;
}

button:hover,
a:hover {
    filter: brightness(0.85);
}

.begin-button {
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-color: var(--red);
    text-decoration: none;
    padding: 20px 30px;
    margin-top: 10px;
    border-radius: 500px;
    font-size: 24px;
    border: 0px;
}

#beginButtonSubtitle,
#continueGameButton {
    display: none;
}

.setup-text {
    font-size: 20px;
    font-weight: 600;
}

.upperbar {
    background-color: var(--light-blue);
    color: var(--white);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 4;
}

.upperbar-title {
    font-size: 26px;
    font-weight: bold;
}

.content {
    position: relative;
    top: 75px;
    z-index: 1;
    text-align: center;
}

.small-button {
    color: var(--white);
    background-color: var(--dark-blue);
    text-decoration: none;
    text-align: center;
    padding: 8px 15px;
    border-radius: 500px;
    font: 'Circular Std Book';
    border: 0px;
    margin: 3px;
}

button {
    font-family: inherit;
    font-size: 1em;
}

.setup {
    display: none;
}

.main-game {
    display: none;
}

.setup-tooltip {
    font-size: 18px;
}

.setup-name {
    background-color: var(--white);
    border-radius: 100px;
    border: 1px solid var(--dark-blue);
    font-size: 18px;
    padding: 10px 15px 10px 15px;
    margin: 5px;
}

.modal-wrapper {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--white);
    background-color: rgba(255, 255, 255, 0.86);
}

#modalBackWrapper {
    margin-left: auto;
}

.modal {
    background-color: rgba(255, 255, 255, 0.86);
    ;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.autocomplete-status-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.reset {
    filter: invert(22%) sepia(94%) saturate(291%) hue-rotate(171deg) brightness(89%) contrast(96%);
}

.check {
    filter: invert(47%) sepia(10%) saturate(3119%) hue-rotate(84deg) brightness(114%) contrast(74%);
}

.maybe {
    filter: invert(68%) sepia(19%) saturate(541%) hue-rotate(84deg) brightness(88%) contrast(89%);
}

.cross {
    filter: invert(47%) sepia(54%) saturate(682%) hue-rotate(318deg) brightness(87%) contrast(94%);
}

.maybeNot {
    filter: invert(73%) sepia(7%) saturate(2139%) hue-rotate(317deg) brightness(97%) contrast(73%);
}

.star {
    filter: invert(88%) sepia(58%) saturate(1146%) hue-rotate(322deg) brightness(104%) contrast(87%);
}

.question {
    filter: invert(58%) sepia(64%) saturate(430%) hue-rotate(163deg) brightness(87%) contrast(99%);
}

.exclamation {
    filter: invert(66%) sepia(20%) saturate(1480%) hue-rotate(282deg) brightness(91%) contrast(85%);
}

.flag {
    filter: invert(82%) sepia(31%) saturate(5798%) hue-rotate(328deg) brightness(100%) contrast(93%);
}

.skip {
    filter: invert(22%) sepia(41%) saturate(3708%) hue-rotate(234deg) brightness(87%) contrast(99%);
}

.selection-modal-image {
    width: 110px;
}

.selection-modal-image img {
    height: 60px;
}

#selectionModalContent section {
    display: flex;
    align-items: center;
    text-align: center;
}

.selection-modal-section {
    display: block;
}

.selection-modal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-with-tooltip {
    flex-direction: column;
}

.dust-counter-box {
    background-color: var(--dark-blue);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 60px;
    padding: 10px;
    z-index: 1;
    text-align: center;
    display: none;
}

.dust-counter-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    width: 150px;
    color: var(--white);
}

table {
    width: 100%;
    border-collapse: collapse;
}


@media screen and (max-width: 1080px) {

    img {
        height: 30px;
        width: 30px;
        padding-left: 5px;
        padding-right: 5px;
    }

    input[type=range].range {
        width: 95%;
    }

    input[type=range].range::-webkit-slider-runnable-track {
        width: 95%;
    }

    input[type=range].range::-moz-range-track {
        width: 95%;
    }

    input[type=range].range::-ms-track {
        width: 95%;
    }
}

@media screen and (min-width: 1080px) {
    img {
        height: 40px;
        width: 40px;
        padding-left: 5px;
        padding-right: 5px;
    }

    input[type=range].range {
        width: 60%;
    }

    input[type=range].range::-webkit-slider-runnable-track {
        width: 60%;
    }

    input[type=range].range::-moz-range-track {
        width: 60%;
    }

    input[type=range].range::-ms-track {
        width: 60%;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--red);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 5px;
    bottom: 2px;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--dark-blue);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--dark-blue);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

input[type="range"] {
    accent-color: var(--dark-blue);
}